<br>
<h1>Coffee Table</h1>
<div class="container-md container-fluid">
	<!--Table-->
	<table class="table table-hover">
		<!-- Columns -->
		<thead>
			<tr>
				<th> Id </th>
				<th> Name </th>
				<th> Roast </th>
				<th> Format </th>
				<th>Options</th>
			</tr>
		</thead>
	<!-- Columns -->
	<!-- Data -->
		<tbody *ngFor="let data of coffeeData |  paginate: { itemsPerPage: 10, currentPage: p }">
			<tr (click)="checkExpanded(data)">
				<td> {{data.id}}</td>
				<td> {{data.roaster}} </td>
				<td> {{data.size}} </td>
				<td> {{data.format}} </td>
				<td><button class="btn btn-outline-secondary btn-sm"  (click)="getDetailsFromCoffee(data)"><i class="bi bi-info-circle-fill"> Details</i></button></td>
			</tr>
		</tbody>
		<!-- Data -->
	</table>
	<div class="text-center">
		<pagination-controls (pageChange)="p = $event" ></pagination-controls>
	</div>
	</div>
<br>

<!-- Modal -->
<div class="modal" id="myModalDetails">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Details Coffee</h5>
				<button type="button" class="btn-close" (click)="closeModal()"></button>
			</div>
			<div class="modal-body">
				<app-details-view-coffee [dataRow]="coffeeRow"></app-details-view-coffee>
			</div>
		</div>
	</div>
</div>
