<div id="form-wrapper">

	<form [formGroup]="coffeeForm" (ngSubmit)="submitForm()">
		<label for="roasterInput">Roaster: </label>
		<input id="roasterInput" type="text" formControlName="roasterControl" />

		<label for="varietyInput">Variety: </label>
		<input id="varietyInput" type="text" formControlName="varietyControl" />

		<label for="sizeInput">Size: </label>
		<select id="sizeInput" formControlName="sizeControl">
			<option value="8">8</option>
			<option value="12">12</option>
			<option value="14">14</option>
			<option value="16">16</option>
			<option value="20">20</option>
			<option value="24">24</option>
		</select>

		<label for="roastInput">Roast:</label>
		<select id="roastInput" formControlName="roastControl">
			<option value="blonde">Blonde</option>
			<option value="light">Light</option>
			<option value="medium">Medium</option>
			<option value="medium-dark">Medium-Dark</option>
			<option value="dark">Dark</option>
			<option value="espresso">Espresso</option>
		</select>

		<p>Format: </p>
		<label for="format-k-pod">K-Pod</label>
		<input type="radio" id="format-k-pod" name="formatInput" value="k-pod" formControlName="formatControl">
		<label for="format-beans">Beans</label>
		<input type="radio" id="format-beans" name="formatInput" value="beans" formControlName="formatControl">
		<label for="format-ground">Ground</label>
		<input type="radio" id="format-ground" name="formatInput" value="ground" formControlName="formatControl">

		<label for="grindInput">Grind: </label>
		<input type="number" id="grindInput" formControlName="grindControl">

		<label for="originInput">Origin: </label>
		<input type="text" id="originInput" formControlName="originControl">

		<label for="singleOriginInput">Single Origin: </label>
		<input type="checkbox" id="singleOriginInput" name="singleOriginInput" value="singleOrigin" formControlName="singleOriginControl">

		<label for="tastingNotesInput">Tasting Notes: </label>
		<input type="text" id="tastingNotesInput" formControlName="tastingNotesControl">

		<button type="submit" [disabled]="!coffeeForm.valid">Submit</button>
	</form>
</div>
