.form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	margin-top: 65px;
}

.form-container {
	outline-style: solid;
	outline-width: 1px;
	padding: 10px;
	background-color: whitesmoke;
}

#coffeeForm label, .label {
	margin: 5px;
	font-size: large;
}

#coffeeForm input {
	padding: 5px;
}

