<div class="form-wrapper">
	<h1 class="page-title m-4">{{pageTitle}} Coffee Form</h1>

	<div class="container form-container">
		<div class="col-md">
			<form id="coffeeForm" [formGroup]="coffeeForm" (ngSubmit)="submitForm()">
				<div class="row mb-4 ps-4 pe-4">
					<div class="col d-flex flex-column">
						<label for="roasterInput">Roaster: </label>
						<input id="roasterInput" type="text" formControlName="roasterControl"/>
					</div>

				</div>
				<div class="row mb-4 ps-4 pe-4">
					<div class="col d-flex flex-column">
						<label for="varietyInput">Variety: </label>
						<input id="varietyInput" type="text" formControlName="varietyControl"/>
					</div>

					<div class="col-4 d-flex flex-column">
						<label for="originInput">Origin: </label>
						<input type="text" id="originInput" formControlName="originControl">
					</div>
				</div>

				<div class="row mb-4 ps-4 pe-4">
					<div class="col-4">
						<label for="sizeInput">Size: </label>
						<select id="sizeInput" formControlName="sizeControl">
							<option value="8">8</option>
							<option value="12">12</option>
							<option value="14">14</option>
							<option value="16">16</option>
							<option value="20">20</option>
							<option value="24">24</option>
						</select>
					</div>

					<div class="col-4">
						<label for="roastInput">Roast:</label>
						<select id="roastInput" formControlName="roastControl">
							<option value="blonde">Blonde</option>
							<option value="light">Light</option>
							<option value="medium">Medium</option>
							<option value="medium-dark">Medium-Dark</option>
							<option value="dark">Dark</option>
							<option value="espresso">Espresso</option>
						</select>
					</div>

					<div class="col-4 d-flex">
						<label for="grindInput" class="numeric">Grind: </label>
						<input type="number" max="7" id="grindInput" formControlName="grindControl">
					</div>
				</div>

				<div class="row mb-4 justify-content-evenly">
					<div class="col-4">
						<label for="format-k-pod">K-Pod</label>
						<input type="radio" id="format-k-pod" name="formatControl" value="k-pod" formControlName="formatControl">
						<label for="format-beans">Beans</label>
						<input type="radio" id="format-beans" name="formatControl" value="beans" formControlName="formatControl">
						<label for="format-ground">Ground</label>
						<input type="radio" id="format-ground" name="formatControl" value="ground" formControlName="formatControl">
					</div>

					<div class="col-4">
						<label for="singleOriginInput">Single Origin: </label>
						<input type="checkbox" id="singleOriginInput" name="singleOriginInput" value="singleOrigin"
									 formControlName="singleOriginControl">
					</div>
				</div>

				<div class="row mb-4 ps-4 pe-4">
					<div class="col-6 d-flex flex-column">
					<label for="tastingNotesInput">Tasting Notes: </label>
					<input type="text" id="tastingNotesInput" formControlName="tastingNotesControl">
						</div>
				</div>

				<div class="row justify-content-start ps-4 mb-4">
					<div class="col-2">
						<button type="submit" [disabled]="!coffeeForm.valid">Submit</button>
					</div>
				</div>
			</form>
		</div>
		</div>
</div>
