<main class="flex-shrink-0">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand">Yukon Coffee Shop</a>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<br>

<div class="container">
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add Coffee</button>
</div>
<div class="container">
	<app-table-coffee (iDFromTable)="title = $event" ></app-table-coffee>
</div>
<div class="container">
	<button type="button" class="btn btn-primary"  (click)="openModal()">
		Delete
	</button>
</div>

	<!-- Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">{{ titleModal }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
				</div>
				<div class="modal-body">
					<ng-container [ngSwitch]="optionModal">
						<app-delete-coffee *ngSwitchCase=1 [title]="title"></app-delete-coffee>
						<app-coffee-form *ngSwitchCase=2 [title]="title"></app-coffee-form>
					</ng-container>
				</div>

			</div>
		</div>
	</div>

<!-- Footer-->
<footer class="py-3 my-4">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
	</ul>
	<p class="text-center text-body-secondary">Yukon Coffee Shop © 2024</p>
</footer>

</main>



