<main class="flex-shrink-0">
	<!-- Navigation-->
	<div class="row">
		<div class="col">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid collapse navbar-collapse">

					<ul class="navbar-nav">
						<a class="navbar-brand">Yukon Coffee Shop</a>
						<li
							class="nav-item"
						>
							<a
								uiSref="home"
								uiSrefActive="active"
								class="nav-link"
							>
								Home
							</a>
						</li>
						<li
							class="nav-item"
						>
							<a
								uiSref="coffeeDelete"
								uiSrefActive="active"
								class="nav-link"
							>
								Deleted
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<br>

	<ui-view></ui-view>

<!-- Footer-->
<footer class="py-3 my-4">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
	</ul>
	<p class="text-center text-body-secondary">Yukon Coffee Shop © 2024</p>
</footer>

</main>



