<form #addNewCoffeeForm="ngForm" (ngSubmit)="submit()">

	<!-- Coffee Roaster -->
	<div class="form-group p-3">
		<label id="coffeeRoaster">Roaster*:</label>
		<input
				class="form-control d-block"
				type="text"
				name="roaster"
				placeholder="Enter Coffee Roaster"
				minlength="2"
				required
				#roaster="ngModel"
				[(ngModel)]="coffee.roaster"
			>
			<em [hidden]="roaster.valid || roaster.pristine" class="invalid-feedback d-block"
			>Invalid Roaster Value!</em>
	</div>

	<!-- Coffee Variety -->
	<div class="form-group p-3">
		<label id="coffeeVariety">Variety:</label>
		<input
			class="form-control d-block"
			type="text"
			name="variety"
			placeholder="Enter Coffee Variety"
			minlength="2"
			required
			#roaster="ngModel"
			[(ngModel)]="coffee.variety"
		>
	</div>

	<!-- Coffee Size -->
	<div class="form-group p-3">
		<label id="coffeeSize">Size:</label>
		<select class="form-select form-select-sm" aria-label="coffee size">
			<option value="">Open this select menu</option>
			<option *ngFor="let sizeitem of size" [value]="sizeitem">{{sizeitem.toString() | titlecase}} oz</option>
		</select>
	</div>

	<!-- Rost Type -->
	<div class="form-group p-3">
		<label id="coffeeRoast">Roast:</label>
		<select class="form-select form-select-sm" aria-label="coffee rost">
			<option value="">Open this select menu</option>
			<option *ngFor="let roastitem of roast" [value]="roastitem">{{roastitem | titlecase}}</option>
		</select>
	</div>

	<!-- Format -->
	<div class="form-group p-3">
		<label id="coffeeFormat">Format:</label>
		<select class="form-select form-select-sm" aria-label="format">
			<option value="">Open this select menu</option>
			<option *ngFor="let formatitem of format" [value]="formatitem">{{formatitem | titlecase}}</option>
		</select>
	</div>

	<!-- Grind Level -->
	<div class="form-group p-3">
			<label class="form-label" for="elements">Grind Level: {{getCurrentValue()}}</label>
			<ul class="d-flex justify-content-between form-control" id='elements'>
				<li class="list-inline-item"><p id="minValue">{{grindLevelList[0]}}</p></li>
				<li class="list-inline-item">
					<input type="range"
								 class="form-range"
								 #ctmRng
								 id="rng"
								 min=0
								 max="6"
								 (input)="setValueOnIndex(ctmRng.value)"
					>
				</li>
				<li class="list-inline-item"><p id="maxValue">{{grindLevelList[6]}}</p></li>
			</ul>
	</div>

	<!-- Origin -->
	<div class="form-group p-3">
		<label id="coffeeOrigin">Origin:</label>
		<input
			class="form-control d-block"
			type="text"
			name="origin"
			placeholder="Enter Coffee Origin"
			minlength="2"
			required
			#roaster="ngModel"
			[(ngModel)]="coffee.origin"
		>
	</div>

	<!-- Single Origin -->
	<div class="form-group p-3">
		<label class="form-check-label" for="singleOriginCheckBox">Single Origin: </label>
		<div class="form-check form-switch ">
			<input type="checkbox"
						 name="singleOriginCheckBox"
						 id="singleOriginCheckBox"
						 class="form-check-input"
						 [(ngModel)]="coffee.singleOrigin"
			>
		</div>
	</div>

	<!-- Flavor Notes -->
	<div class="form-group p-3">
		<label for="flavorNotes">Flavor Notes:</label>
		<textarea class="form-control" id="flavorNotes" name="flavorNotes"
							cols="30"
							[(ngModel)]="coffee.tastingNotes"
							placeholder="Enter flavor notes..." required></textarea>
	</div>
</form>
<div class="modal-footer">
	<button type="button"
					class="btn btn-primary"
	>Clear All</button>
	<button type="submit"
					class="btn btn-success mx-3"
					[disabled]="!addNewCoffeeForm.form.valid"
	>Submit</button>
</div>
