<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Add Coffee</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<!-- Coffee Brand -->
					<div class="form-group p-3">
						<label id="coffeeBrand">Coffee Brand*:</label>
						<input type="text" class="form-control d-block" id="brand"
									 aria-describedby="coffeeBrandHelp" placeholder="Enter Coffee Brand" />
						<div class="invalid-feedback d-block">Brand is Required
						</div>
						<div class="valid-feedback d-block">This field is valid
						</div>
					</div>

					<!-- Coffee Type -->
					<div class="form-group p-3">
						<label id="groundOrBeans">Coffee Type: </label>
						<div></div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="coffeeGround" value="Ground"
										 checked />
							<label class="form-check-label" for="coffeeGround">
								Ground
							</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="coffeeBean" value="Bean" />
							<label class="form-check-label" for="coffeeBean">
								Bean
							</label>
						</div>
					</div>

					<!-- Roast Type -->
					<div class="form-group p-3">
						<label for="roast">Select Roast Type:</label>
						<select class="form-control" id="roast">
							<option value="Select Rost" selected></option>
							<option value="Light" selected>Light</option>
							<option value="Medium">Medium</option>
							<option value="Dark">Dark</option>
						</select>
					</div>

					<!-- Single Origin -->
					<div class="form-group p-3">
						<label class="form-check-label" for="singleOriginSwitch">Single Origin: </label>
						<div class="form-check form-switch ">
							<input class="form-check-input" type="checkbox" id="singleOriginSwitch" />
						</div>
					</div>

					<!-- Grind Level -->
					<div class="form-group p-3">
						<label for="grindRange">Grind Level:</label>
						<input type="range" class="form-range" min="1" max="3" step="1" id="grindRange" value="1" />
					</div>

					<!-- Flavor Notes -->
					<div class="form-group p-3">
						<label for="flavorNotes">Flavor Notes:</label>
						<textarea class="form-control" id="flavorNotes" rows="3"
											placeholder="Enter flavor notes..."></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="reset" class="btn btn-danger btn-md me-2">Reset</button>
				<button type="submit" class="btn btn-primary btn-md">Submit</button>
			</div>
		</div>
	</div>
</div>
