<div>
	<div class="text-center">
	<img src="./assets/img/iconWarning.png" class="img-thumbnail border-0" alt="">
	</div>
	<div class="text-center">
		<h5>Are you sure to remove the item?</h5>
		<p>Item Id: {{title}}</p>
		<p>This action will deactivate the item </p>
	</div>
	<div class="container d-inline-block text-center">
		<button type="button" class="btn btn-danger w-75 m-2">Remove Item</button>
		<br>
		<button type="button" class="btn w-75 m-2 border">Cancel</button>
	</div>
	<div>

	</div>
</div>

