<!--<div style="scroll-behavior: auto">-->

<!--&lt;!&ndash;	<table>&ndash;&gt;-->
<!--&lt;!&ndash;		<tr>&ndash;&gt;-->
<!--&lt;!&ndash;			<td>Sample Data</td>&ndash;&gt;-->
<!--&lt;!&ndash;			<td>sample buttons</td>&ndash;&gt;-->
<!--&lt;!&ndash;		</tr>&ndash;&gt;-->
<!--&lt;!&ndash;		<tr>&ndash;&gt;-->
<!--&lt;!&ndash;			<td>Sample Data</td>&ndash;&gt;-->
<!--&lt;!&ndash;			<td>sample buttons</td>&ndash;&gt;-->
<!--&lt;!&ndash;		</tr>&ndash;&gt;-->
<!--&lt;!&ndash;	</table>&ndash;&gt;-->

<!--&lt;!&ndash;	<div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;		<input type="text" class="form-control" [(ngModel)]="coffeesearch" placeholder="Search">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;		<input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText" #searchbar>&ndash;&gt;-->
<!--&lt;!&ndash;	</div>&ndash;&gt;-->


<!--&lt;!&ndash;	<div >&ndash;&gt;-->
<!--&lt;!&ndash;		<table>&ndash;&gt;-->
<!--&lt;!&ndash;			<thead>&ndash;&gt;-->
<!--&lt;!&ndash;			<tr>&ndash;&gt;-->
<!--&lt;!&ndash;				<th>Roaster</th>&ndash;&gt;-->
<!--&lt;!&ndash;				<th>Format</th>&ndash;&gt;-->
<!--&lt;!&ndash;				<th>Variety</th>&ndash;&gt;-->
<!--&lt;!&ndash;			</tr>&ndash;&gt;-->
<!--&lt;!&ndash;			</thead>&ndash;&gt;-->
<!--&lt;!&ndash;			<tbody>&ndash;&gt;-->
<!--&lt;!&ndash;			<tr *ngFor="let item of coffee">&ndash;&gt;-->
<!--&lt;!&ndash;				<td>{{ item.roaster }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;				<td>{{ item.format }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;				<td>{{ item.roast }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;			</tr>&ndash;&gt;-->
<!--&lt;!&ndash;			</tbody>&ndash;&gt;-->
<!--&lt;!&ndash;		</table>&ndash;&gt;-->
<!--&lt;!&ndash;	</div>&ndash;&gt;-->

<!--&lt;!&ndash;	<div>&ndash;&gt;-->
<!--&lt;!&ndash;		<app-utilitybar></app-utilitybar>&ndash;&gt;-->
<!--&lt;!&ndash;	</div>&ndash;&gt;-->

<!--	<div style="margin-top: 55px; display: flex; justify-content: center; align-items: center;">-->
<!--		<section style="padding: 5px; display: flex; flex-direction: row; background-color: aqua; justify-content: space-between; width: 60vw; height: 90vh;">-->

<!--			<section *ngFor="let item of coffee" style="background-color: #9198e5; width: 58vw; ">-->
<!--			<div class="card">-->
<!--				<div class="textBox">-->
<!--					<div class="textContent">-->
<!--						<p class="h1">{{ item.roaster }}</p>-->
<!--						<span class="span">{{ item.size }} Oz.</span>-->
<!--					</div>-->
<!--					<div style="justify-content: space-between; display: flex" >-->
<!--						<p class="p">{{ item.format }}</p>-->
<!--						<div>-->
<!--							<button>View</button>-->
<!--							<button>Edit</button>-->
<!--						</div>-->
<!--					</div>-->
<!--					<div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--			</section>-->

<!--		</section>-->
<!--	</div>-->

<!--</div>-->


<p>Coffee List component is working!</p>


